<body>
  <div class="title">
    <h2>ProgrammableWeb Catalog</h2>
  </div>
  <div class="search-bar">
    <input class="input" placeholder="search something..." type="search">
  </div>
  <div class="section">
    <div class="filter-bar">
      <label for="updated">YEAR LAST UPDATED</label><br>
      <input id="updated" class="updated" type="number"><br><br>

      <label for="tags">TAGS</label> <br>
      <input id="tags" class="tags" type="text"><br><br>

      <label for="rating">RATINGS</label> <br>
      <input id="rating1" class="rating" type="button" value="HIGHER THAN"><br>
      <input id="rating2" class="rating" type="button" value="EQUAL TO"><br>
      <input id="rating3" class="rating" type="button" value="LOWER THAN"><br>
      <input id="rating" class="rating" type="number"><br>

      <h4>PROTOCOLS</h4>
      <div class="protocols">
        <div *ngFor="let prot of PROTOCOLS">
          <p>{{prot}}</p>
        </div>
      </div>

      <h4>CATEGORIES</h4>
      <div class="categories">
        <div *ngFor="let cat of CATEGORY">
          <p>{{cat}}</p>
        </div>
      </div>

    </div>

    <div class="results-area">
      <div *ngFor="let item of result ">
        <p>{{item}}</p>
      </div>
    </div>
  </div>

</body>
