@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  padding: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  height: 700px;
}

.title h2 {
  text-align: center;
}

.results-area {
  display: flex;
  height: 300px;
  width: 800px;
  margin-bottom: 50px;
  border: 1px solid black;
  overflow-y: scroll;
}

.results-area pre {
  width: 300px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}

input {
  padding: 5px 20px 5px 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: "IBM Plex Sans", sans-serif;
}

button {
  padding: 5px 20px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: black;
  color: white;
  margin-right: 40px;
}

form {
  display: flex;
}

